<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="level">
            <h1 class="title is-1 level-item">
                Welcome to Tech Blog!
            </h1>
            <nav class="subtitle is-5 level-item navbar">
                <a href="/" class="navbar-item">Home</a>
                {{#if loggedIn}}
                <a href="/dashboard" class="navbar-item">Dashboard</a>
                <button id="logout" class="btn-no-style navbar-item">Logout</button>
                {{else}}
                <a href="/login" class="navbar-item">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Happy blogging!
        </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>