<a href="/dashboard" class="subtitle is-6">&larr; Return to dashboard</a>
<section class="mt-6">
    <h2 class="title is-4">Create a new post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-text">Content</label>
            <textarea name="post-text" id="post-text"></textarea>
        </div>
        <button type="submit" class="btn">Create post</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>