<a href="/dashboard/create/" class="create-link title is-4">Create new post</a>

{{#if posts.length}}
<section>
    <h2 class="title is-4">Your posts</h2>
    <ol class="your-posts">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}