<article>
    <a href="/dashboard">Return to dashboard</a>
    <h2>
        Edit post
    </h2>
    <form class="edit-post-form">
        <div>
            <input type="text" name="post-title" value="{{post.title}}" />
            <input type="text" name="post-text" value="{{post.post_text}}" />
        </div>
        <div>
            By you on {{format_date post.created_at}}
        </div>
        <button type="submit">Update post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </form>
</article>

{{> comments post.comments }}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>