<form class="signup-form">
    <div>
        <label for="username-login">Create username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-login">Create password:</label>
        <input type="password"id="password-signup" />
    </div>
    <div>
        <button type="submit">SIGNUP</button>
    </div>
    <div>
        <a href="/login">Already signed up? Login</a>
    </div>
    
</form>

<script src="/javascript/signup.js"></script>