<form class="signup-form">
    <div>
        <label for="username-login">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password"id="password-signup" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
    <div>
        <a href="/login">Login instead</a>
    </div>
    
</form>

<script src="/javascript/signup.js"></script>